body {
  margin: 0;
  background-color: #000000;
} 
/* Элемент*/


.navbar {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: white;
  color: black;
}
/* Класс*/

.logo img {
  height: 50px;
  width: auto;
}

.nav-links {
  display: flex;
  gap: 25px;  
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  color: #ff0303; 
}
