body {
  margin: 0;
  background-color: #000000;
} 
/* Элемент*/


.navbar {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: white;
}
/* Класс*/

.logo img {
  height: 50px;
  width: auto;
}

.nav-links {
  display: flex;
  gap: 25px;  
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  color: #ff0303; 
}

.grid-container {
  display: grid;
  grid-template-rows: 80px 1fr 60px;
  grid-template-columns: 200px 1fr;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
  height: 100vh;
}

.grid-header {
  grid-area: header;
  background-color: #ff0303;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-sidebar {
  grid-area: sidebar;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-main {
  color: white;
  grid-area: main;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-footer {
  grid-area: footer;
  background-color: #333333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
